@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

body{
    background-color: cornflowerblue;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    flex-direction: row;
}

.info {
    height: 500px;
    width: 500px;
    background-color: aqua;
    display: grid;
    place-items: center;
}

.box {
    border: 1px solid black;
    font-size: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.br-0{
    border-right: 0;
}

.bb-0{
    border-bottom: 0;
}

.board {
    display: grid;
    height: 470px;
    width: 470px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.result {
    font-size: 6vw;
    color: green;
}

.turns{
    font-size: 32px;
    color: red;
}