#card {
    width: 100px;
    border: 1px solid black;
    margin-top: 32px;
}

#notesdata {
    color: cornflowerblue;
}

#notescard {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 29px 0px 26px 311px;
}