*{
    margin: 0;
    padding: 0;
}
#notes{
    width: 800px;
    height: 200px;
}
#notesarea{
    margin-top: 70px;
}

#btn{
    width: 60px;
    height: 30px;
    border-radius: 32px;
    border: 0;
    background-color: rgb(183, 8, 236);
    color: rgb(17, 240, 29);
}

#btn1{
    width: 80px;
    height: 30px;
    border-radius: 32px;
    border: 0;
    background-color: rgb(183, 8, 236);
    color: rgb(17, 240, 29);
}