*{
    margin: 0;
    padding: 0;
}
#clockContainer{
    height: 100vh;
    width: 100%;
    display: flex;
}
#clock{
    background: url("https://i.pinimg.com/originals/f9/36/c5/f936c5a35c35c3f4d7c498fb8edad0f1.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
#hour, #minute, #second{
    background-color: black;
    margin-left: 11%;
    position: absolute;
    transform-origin: bottom;
}

#minute{
    height: 138px;
    width: 2px;
    /* display: none; */
    margin-top: 1%;
}

#second{
    height: 80px;
    width: 2px;
    /* display: none; */
    margin-top: 5.2%;
}

#hour{
    height: 80px;
    width: 2px;
    display: inline-block;
    margin-top: 5.2%;
    /* display: none; */
}
#time{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
#digitalClock{
    background-color: black;
    height: 300px;
    width: 1900px;
    display: inline-block;
    margin-right: 300px;
}

.text{
    font-size: 82px;
}